<h3>Bands</h3>
<ul>
<% @bands.each do |band| %>
<li><%= link_to band.name, band_path(band) %></li>
<% end %>
</ul>

<%= link_to "Create New Band", new_band_path %>

<form method="get" action= <%= search_bands_path %>>
  <input type = "text" name = "query"/>
  <input type = "submit" value = "Search bands"/>
</form>